* {
    font-family: AvenirLT, sans-serif;
    color: #000;
    font-size: 1em;
}

body {
    background-image: url(imgs/black\ background.jpg);
    background-attachment: fixed;
    margin: 120px;
}

@media screen and (min-width: 1024px) {
    .side-bar {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 69px;
    }

}

.side-bar {
    position: fixed;
    top: 0;
    width: 130px;
    height: 100vh;
    background: #313131;
    z-index: 7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    justify-content: center;
    font-size: 2em;
    width: 80%;
}

#resultImg {
    margin: 0 auto;
    height: 200px;
    width: auto;
}

.modal-content img {
    display: flex;
    justify-content: center;
}
  
  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;

}

h1 {
    color: rgb(255, 255, 255);
    padding: 16px;
    margin-top: 400px;
    font-size: 6em;
}

span {
    color: rgb(255, 107, 107);
}

h2 {
    background-color: rgb(39, 39, 39);
    color: #fff;
    padding: 16px;
    font-size: 30px;
    width: 487px;
}

.question-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    padding: 60px;
    margin-bottom: 80px;
    padding-top:40px;
}

input[type=radio] {
    display:none;
}

p {
    font-size: 22px;
    align-content: center;
    margin: 0;
}

h3 {
    color:#fff;
}

.img {
    width: 260px;
    height: 195px;
    height: 195px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #fff;
}

.calculation {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.answer label {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.question-title {
    font-size: 32px;
    line-height: 1;
    padding: 24px 0;
    text-align: center;
    text-transform: capitalize;
    background-image: url("imgs/question_background.jpg");
    border-radius: 10px;
    
}

.option {
    width: 260px;
    height: 240px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
    padding: 4px;
    padding-bottom: 30px;
    margin: 10px;
    font-size: 30px;
}

#finished-button {
    color: rgb(255, 107, 107);
    font-weight: bold;
    background-color: rgb(15, 15, 15);
    width: 500px;
    height: 70px;
    font-size: 2em;
    align-content: center;
    margin-top: 20px;
    border: 5px solid rgb(255, 107, 107);
    border-radius: 20px;
    margin-bottom: 70px;
}

#finished-button:hover {
    background-color: rgb(255, 107, 107);
    color: #000;

}

.option:hover {
    background-color: #333;
    color: rgb(232, 232, 232);

}

.option:hover label p{
    color: rgb(232, 232, 232);
}

label {padding-bottom:10px;}

@media screen and (max-width: 660px) {
    body { 
        margin: 10%;
    }

    h1 {
        font-size: 4em;
        width: auto;
    }

    h2 { 
        font-size: 1.5em;
        width: auto;
    }
}
